# Core functionality - changes here should be rare!
/src/app.py                   @PedroPaz100
/src/backend/database.py      @PedroPaz100
/src/backend/routers/auth.py  @PedroPaz100

# The frontend will need refactored soon to be more object oriented.
/src/static/   @PedroPaz100
